/*

*/

.version.index /* version checker */
{
	color: #000004;
	background-color: #495AC2;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 700px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#pu6893
{
	width: 0.01px;
	margin-left: -163px;
}

#u6893
{
	z-index: 84;
	width: 50px;
	min-height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6888
{
	z-index: 2;
	min-height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u6888-bw
{
	z-index: 2;
	min-height: 100px;
}

#pslideshowu183
{
	width: 0.01px;
	padding-bottom: 595px;
	margin-left: -100px;
	margin-top: -100px;
}

#slideshowu183
{
	z-index: 3;
	width: 0.01px;
	height: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 255px;
}

#u202
{
	position: absolute;
	background-color: transparent;
}

#u202popup
{
	z-index: 4;
}

#u6593
{
	z-index: 5;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u6648
{
	z-index: 7;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u6668
{
	z-index: 9;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u6688
{
	z-index: 11;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u6708
{
	z-index: 13;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u6728
{
	z-index: 15;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u6593:hover,#u6648:hover,#u6668:hover,#u6688:hover,#u6708:hover,#u6728:hover
{
	min-height: 0px;
	margin: 0px;
}

#u191
{
	width: 639px;
	padding-bottom: 90px;
	position: fixed;
	top: 547px;
	left: 398px;
}

#u191popup
{
	z-index: 17;
}

#u6599
{
	z-index: 18;
	width: 89px;
	height: 88px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 120px;
	position: fixed;
	bottom: 63px;
	left: 50%;
	margin-left: -182px;
}

#u6599:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 15px rgba(41,171,226,0.5),0px 0px 15px rgba(41,171,226,0.5);
	border-color: #6B6B6B;
	background-color: transparent;
	width: 89px;
	height: 88px;
	min-height: 0px;
	margin: 0px 0px 0px -182px;
}

#u6599.SSSlideLinkSelected
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 25px rgba(255,148,0,0.5),0px 0px 25px rgba(255,148,0,0.5);
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 120px;
	width: 89px;
	height: 88px;
	min-height: 0px;
	margin: 0px 0px 0px -182px;
}

#u6654
{
	z-index: 20;
	width: 89px;
	height: 88px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 120px;
	position: fixed;
	bottom: 65px;
	left: 50%;
	margin-left: -71px;
}

#u6654:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 15px rgba(41,171,226,0.5),0px 0px 15px rgba(41,171,226,0.5);
	border-color: #6B6B6B;
	background-color: transparent;
	width: 89px;
	height: 88px;
	min-height: 0px;
	margin: 0px 0px 0px -71px;
}

#u6654.SSSlideLinkSelected
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 25px rgba(255,148,0,0.5),0px 0px 25px rgba(255,148,0,0.5);
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 120px;
	width: 89px;
	height: 88px;
	min-height: 0px;
	margin: 0px 0px 0px -71px;
}

#u6674
{
	z-index: 22;
	width: 89px;
	height: 88px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 120px;
	position: fixed;
	bottom: 65px;
	left: 50%;
	margin-left: 39px;
}

#u6674:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 15px rgba(41,171,226,0.5),0px 0px 15px rgba(41,171,226,0.5);
	border-color: #6B6B6B;
	background-color: transparent;
	width: 89px;
	height: 88px;
	min-height: 0px;
	margin: 0px 0px 0px 39px;
}

#u6674.SSSlideLinkSelected
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 25px rgba(255,148,0,0.5),0px 0px 25px rgba(255,148,0,0.5);
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 120px;
	width: 89px;
	height: 88px;
	min-height: 0px;
	margin: 0px 0px 0px 39px;
}

#u6694
{
	z-index: 24;
	width: 89px;
	height: 88px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 120px;
	position: fixed;
	bottom: 65px;
	left: 50%;
	margin-left: 151px;
}

#u6694:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 15px rgba(41,171,226,0.5),0px 0px 15px rgba(41,171,226,0.5);
	border-color: #6B6B6B;
	background-color: transparent;
	width: 89px;
	height: 88px;
	min-height: 0px;
	margin: 0px 0px 0px 151px;
}

#u6694.SSSlideLinkSelected
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 25px rgba(255,148,0,0.5),0px 0px 25px rgba(255,148,0,0.5);
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 120px;
	width: 89px;
	height: 88px;
	min-height: 0px;
	margin: 0px 0px 0px 151px;
}

#u6714
{
	z-index: 26;
	width: 89px;
	height: 88px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 120px;
	position: fixed;
	bottom: 65px;
	left: 50%;
	margin-left: 258px;
}

#u6714:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 15px rgba(41,171,226,0.5),0px 0px 15px rgba(41,171,226,0.5);
	border-color: #6B6B6B;
	background-color: transparent;
	width: 89px;
	height: 88px;
	min-height: 0px;
	margin: 0px 0px 0px 258px;
}

#u6714.SSSlideLinkSelected
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 25px rgba(255,148,0,0.5),0px 0px 25px rgba(255,148,0,0.5);
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 120px;
	width: 89px;
	height: 88px;
	min-height: 0px;
	margin: 0px 0px 0px 258px;
}

#u6734
{
	z-index: 28;
	width: 89px;
	height: 88px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 120px;
	position: fixed;
	bottom: 65px;
	left: 50%;
	margin-left: 369px;
}

#u6734:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 15px rgba(41,171,226,0.5),0px 0px 15px rgba(41,171,226,0.5);
	border-color: #6B6B6B;
	background-color: transparent;
	width: 89px;
	height: 88px;
	min-height: 0px;
	margin: 0px 0px 0px 369px;
}

#u6734.SSSlideLinkSelected
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 25px rgba(255,148,0,0.5),0px 0px 25px rgba(255,148,0,0.5);
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 120px;
	width: 89px;
	height: 88px;
	min-height: 0px;
	margin: 0px 0px 0px 369px;
}

#u6599 .clip_frame,#u6599.SSSlideLinkSelected .clip_frame,#u6654 .clip_frame,#u6654.SSSlideLinkSelected .clip_frame,#u6674 .clip_frame,#u6674.SSSlideLinkSelected .clip_frame,#u6694 .clip_frame,#u6694.SSSlideLinkSelected .clip_frame,#u6714 .clip_frame,#u6714.SSSlideLinkSelected .clip_frame,#u6734 .clip_frame,#u6734.SSSlideLinkSelected .clip_frame
{
	-webkit-border-radius: 120px 120px 120px 120px;
}

#u6734_img
{
	margin-left: -3px;
	margin-right: -2px;
}

#u186
{
	width: 810px;
	background-color: transparent;
	position: fixed;
	bottom: 179px;
	left: 50%;
	margin-left: -288px;
}

#u186popup
{
	z-index: 30;
}

#u6605-7
{
	z-index: 31;
	width: 780px;
	min-height: 76px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	text-align: center;
	line-height: 29px;
	margin-right: -10000px;
	position: relative;
}

#u6660-7
{
	z-index: 38;
	width: 780px;
	min-height: 76px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	text-align: center;
	line-height: 29px;
	margin-right: -10000px;
	position: relative;
}

#u6680-7
{
	z-index: 45;
	width: 780px;
	min-height: 76px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	text-align: center;
	line-height: 29px;
	margin-right: -10000px;
	position: relative;
}

#u6700-7
{
	z-index: 52;
	width: 780px;
	min-height: 76px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	text-align: center;
	line-height: 29px;
	margin-right: -10000px;
	position: relative;
}

#u6720-7
{
	z-index: 59;
	width: 780px;
	min-height: 76px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	text-align: center;
	line-height: 29px;
	margin-right: -10000px;
	position: relative;
}

#u6740-7
{
	z-index: 66;
	width: 780px;
	min-height: 76px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	text-align: center;
	line-height: 29px;
	margin-right: -10000px;
	position: relative;
}

#u6605-5,#u6660-5,#u6680-5,#u6700-5,#u6720-5,#u6740-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6605-3,#u6605-4,#u6660-3,#u6660-4,#u6680-3,#u6680-4,#u6700-3,#u6700-4,#u6720-3,#u6720-4,#u6740-3,#u6740-4
{
	font-size: 26px;
	line-height: 31px;
}

#u199-4
{
	width: 70px;
	min-height: 48px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	padding: 15px;
	text-align: center;
	line-height: 48px;
	font-weight: 500;
	position: fixed;
	bottom: 321px;
	left: 218px;
}

#u199-4popup
{
	z-index: 73;
}

#u184-4
{
	width: 70px;
	min-height: 48px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	padding: 15px;
	text-align: center;
	line-height: 48px;
	font-weight: 500;
	position: fixed;
	bottom: 321px;
	right: 0px;
}

#u199-4:hover,#u184-4:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 48px;
	width: 70px;
	margin: 0px;
}

#u184-4popup
{
	z-index: 77;
}

#u199-2,#u184-2
{
	font-size: 48px;
	letter-spacing: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	color: #FFFFFF;
	font-family: '__Ionicons_5';
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u6899
{
	z-index: 81;
	width: 224px;
	height: 700px;
	border-width: 0px;
	background-color: #3B4248;
	background-color: rgba(11,20,27,0.8);
	position: fixed;
	top: 0px;
	left: 0px;
	-pie-background: rgba(11,20,27,0.8);
}

.fullheight
{
	border-width: 1px;
	border-color: #000000;
	background-color: #000000;
}

#u6891
{
	z-index: 101;
	width: 167px;
	background-color: transparent;
	position: fixed;
	top: 31px;
	left: 13px;
}

#u6897-4
{
	z-index: 85;
	width: 200px;
	background-color: transparent;
	line-height: 14px;
	position: fixed;
	top: 108px;
	left: 0px;
}

#u6898-4
{
	z-index: 89;
	width: 200px;
	background-color: transparent;
	line-height: 14px;
	position: fixed;
	top: 207px;
	left: 0px;
}

#u6897-2,#u6898-2
{
	letter-spacing: 8px;
	color: #FFC499;
}

#u6894-4
{
	z-index: 93;
	width: 200px;
	background-color: transparent;
	line-height: 14px;
	position: fixed;
	top: 229px;
	left: 0px;
}

#u6895
{
	z-index: 82;
	width: 101px;
	background-color: transparent;
	position: fixed;
	top: 272px;
	left: 57px;
}

#u6900
{
	z-index: 103;
	width: 257px;
	background-color: transparent;
	position: fixed;
	bottom: 96px;
	left: -63px;
}

#u6902-4
{
	z-index: 97;
	width: 200px;
	background-color: transparent;
	line-height: 14px;
	position: fixed;
	bottom: 77px;
	left: -4px;
}

#u6894-2,#u6902-2
{
	letter-spacing: 8px;
	color: #29ABE2;
}

.html
{
	background-color: #3D3D3D;
}

body
{
	position: relative;
	min-width: 960px;
}

@font-face
{
	font-family: '__Ionicons_5';
	src: url('../fonts/ionicons1.eot');
	src: local('☺'), url('../fonts/ionicons1.woff') format('woff'), url('../fonts/ionicons1.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

