#u6557-2
{
	letter-spacing: 8px;
	color: #FFFFFF;
}

#u4966-4,#u6557-4,#u6560-4,#u6563-4
{
	background-color: transparent;
	line-height: 14px;
}

#u4966-2,#u6560-2,#u6563-2
{
	letter-spacing: 8px;
	color: #29ABE2;
}

#u6548
{
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #0B141B;
}

.fullheight
{
	border-width: 1px;
	border-color: #000000;
	background-color: #000000;
}

#u6549,#u6752,#u6749,#u6842
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u6470,#u6576,#u6801
{
	background-color: transparent;
}


